{% extends "lingyuanyan/base.html" %}
{% block content %}
{% load static %}
<div id="demo" class="carousel slide" data-ride="carousel">

	<!-- Indicators -->
	<ul class="carousel-indicators">
		<li data-target="#demo" data-slide-to="0" class="active"></li>
		<li data-target="#demo" data-slide-to="1"></li>
		<li data-target="#demo" data-slide-to="2"></li>
		<li data-target="#demo" data-slide-to="3"></li>
		<li data-target="#demo" data-slide-to="4"></li>
		<li data-target="#demo" data-slide-to="5"></li>
		<li data-target="#demo" data-slide-to="6"></li>
		<li data-target="#demo" data-slide-to="7"></li>
		<li data-target="#demo" data-slide-to="8"></li>
	</ul>

	<!-- The slideshow -->
	<div class="carousel-inner">
		<div class="carousel-item img-thumbnail active carousels">
			<img src="{% static 'lingyuanyanapp/Images/Reading.jpg' %}"  alt="Reading" width="44%">
		</div>
		<div class="carousel-item img-thumbnail carousels">
			<img src="{% static 'lingyuanyanapp/Images/Cooking.jpg' %}" alt="Cooking" width="44%">
		</div>
		<div class="carousel-item img-thumbnail carousels">
			<img src="{% static 'lingyuanyanapp/Images/Eating_Cotton_Candy.jpg' %}" alt="Eating Cotton Candy" width="44%">
		</div>
		<div class="carousel-item img-thumbnail carousels">
			<img src="{% static 'lingyuanyanapp/Images/Graduation.jpg' %}" alt="Graduation" width="44%">
		</div>
		<div class="carousel-item img-thumbnail carousels">
			<img src="{% static 'lingyuanyanapp/Images/Ping-Pong.jpg' %}" alt="Ping-Pong" width="78%">
		</div>
		<div class="carousel-item img-thumbnail carousels">
			<img src="{% static 'lingyuanyanapp/Images/Portrait.jpg' %}" alt="Portrait" width="44%">
		</div>
		<div class="carousel-item img-thumbnail carousels">
			<img src="{% static 'lingyuanyanapp/Images/Biking2.jpg' %}" alt="Biking #1" width="44%">
		</div>
		<div class="carousel-item img-thumbnail carousels">
			<img src="{% static 'lingyuanyanapp/Images/Biking3 (2).jpg' %}" alt="Biking #2" width="44%">
		</div>
	</div>

	<!-- Left and right controls -->
	<a class="carousel-control-prev" href="#demo" data-slide="prev">
		<span class="carousel-control-prev-icon"></span>
	</a>
	<a class="carousel-control-next" href="#demo" data-slide="next">
		<span class="carousel-control-next-icon"></span>
	</a>
</div>
<div id="content">
	<hr>
	<p>


	</p>
	<h2>About Me</h2>
	<section>
		<h3>Intro</h3>
		<p>I live in Sammamish Washington, in the U.S and I use to go to Samantha Smith Elementary school, but I am in 6th grade now, and will now start going to IngleWood Middle Schools I live with my Mother,my Father, And My Very, Very Annoying
			Brother.</p>
	</section>
	<h3>Hobbies</h3>
	<section>
		<ul>
			<li>Playing Games</li>
			<li>Reading Books</li>
			<li>Watching Movies</li>
			<li>Playing with My friends.</li>
			<li>Listening to Music</li>
			<li>Playing my recorder</li>
			<li>Riding my Bike</li>
			<li>Learning Fascinating Things but not Dull Ones</li>
			<li>Skiing</li>
			<li>Drawing</li>
		</ul>
	</section>
	<h3>Books I Like To Read</h3>
	<section>
		<details>
			<summary>I like a Lot of books,</summary>
			<ul>
				<li>The Redwall Series</li>
				<li>Books of Beginning trilogy</li>
				<li>Charlie Bones</li>
				<li>Peter and the Starcatchers</li>
				<li>Diary of a Wimpy Kid</li>
				<li>Endling</li>
				<li>The One and Only Ivan series</li>
				<li>WinterHouse series</li>
				<li>Anne Of Green Gables series</li>
				<li>Harry Potters series</li>
				<li>Wings of Fire series</li>
				<li>Heart of a Samurai</li>
				<li>My Side of the Mountain</li>
				<li>Wizards of Once</li>
				<li>Land of Stories</li>
				<li>Where the Red Fern Grows</li>
				<li>Call of the Wild</li>
				<li>Charlotte's Web</li>
				<li>The Phantom Tollbooth</li>
				<li>Dog Man</li>
				<li>Captain Underpants</li>
				<li>How to Train Your Dragon book series</li>
				<li>Grim's Fairy Tales</li>
				<li>Spirit Animals</li>
				<li>Where the Mountain Meets the Moon trilogy</li>
			</ul>
		</details>
	</section>
	<h2>Photo Gallery</h2>
	<section>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 gallery img-thumbnail">
					<a class="example-image-link gallery" href="{% static 'lingyuanyanapp/Images/Reading.jpg' %}" data-lightbox="gallery" data-title="Reading A Book" width="100%"><img src="{% static 'lingyuanyanapp/Images/Reading.jpg' %}" alt="Reading" width="100%" height="100%" /></a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 gallery img-thumbnail">
					<a class="example-image-link gallery" href="{% static 'lingyuanyanapp/Images/Cooking.jpg' %}" data-lightbox="gallery" data-title="Makeing A Pizza" width="100%"><img src="{% static 'lingyuanyanapp/Images/Cooking.jpg' %}" alt="Cooking" width="100%" height="100%" /></a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 gallery img-thumbnail">
					<a class="example-image-link gallery" href="{% static 'lingyuanyanapp/Images/Eating_Cotton_Candy.jpg' %}" data-lightbox="gallery" data-title="Eating Homemade Cotton Candy" width="100%"><img src="{% static 'lingyuanyanapp/Images/Eating_Cotton_Candy.jpg' %}" alt="Eating Cotton Candy" width="100%"
							height="100%" /></a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 gallery img-thumbnail">
					<a class="example-image-link gallery" href="{% static 'lingyuanyanapp/Images/Graduation.jpg' %}" data-lightbox="gallery" data-title="5th Grade Graduation Picture" width="100%"><img src="{% static 'lingyuanyanapp/Images/Graduation.jpg' %}" alt="Graduation" width="100%" height="100%" /></a>
				</div>
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 gallery img-thumbnail">
					<a class="example-image-link gallery" href="{% static 'lingyuanyanapp/Images/Ping-Pong.jpg' %}" data-lightbox="gallery" data-title="Playing Ping-Pong in Our Garage with My Brother" width="100%"><img src="{% static 'lingyuanyanapp/Images/Ping-Pong.jpg' %}" alt="Ping-Pong" width="100%"
							height="100%" /></a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 gallery img-thumbnail">
					<a class="example-image-link gallery" href="{% static 'lingyuanyanapp/Images/Portrait.jpg' %}" data-lightbox="gallery" data-title="Me." width="100%"><img src="{% static 'lingyuanyanapp/Images/Portrait.jpg' %}" alt="Portrait" width="100%" height="100%" /></a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 gallery img-thumbnail">
					<a class="example-image-link gallery" href="{% static 'lingyuanyanapp/Images/Biking3 (2).jpg' %}" data-lightbox="gallery" data-title="Also Riding A Bike" width="100%"><img src="{% static 'lingyuanyanapp/Images/Biking3 (2).jpg' %}" alt="Biking #2" width="100%" height="100%" /></a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 gallery img-thumbnail">
					<a class="example-image-link gallery" href="{% static 'lingyuanyanapp/Images/Dandelions.jpg' %}" data-lightbox="gallery" data-title="" width="100%"><img src="{% static 'lingyuanyanapp/Images/Dandelions.jpg' %}" alt=" " width="100%" height="100%" /></a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 gallery img-thumbnail">
					<a class="example-image-link gallery" href="{% static 'lingyuanyanapp/Images/Epcot.jpg' %}" data-lightbox="gallery" data-title="" width="100%"><img src="{% static 'lingyuanyanapp/Images/Epcot.jpg' %}" alt=" " width="100%" height="100%" /></a>
				</div>
				<div class="col-sm-12 col-md-8 col-lg-6 gallery img-thumbnail">
					<a class="example-image-link gallery" href="{% static 'lingyuanyanapp/Images/Drawing.png' %}" data-lightbox="gallery" data-title="" width="100%"><img src="{% static 'lingyuanyanapp/Images/Drawing.png' %}" alt=" " width="100%" height="100%" /></a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 gallery img-thumbnail">
					<a class="example-image-link gallery" href="{% static 'lingyuanyanapp/Images/Flowers.jpg' %}" data-lightbox="gallery" data-title="" width="100%"><img src="{% static 'lingyuanyanapp/Images/Flowers.jpg' %}" alt=" " width="100%" height="100%" /></a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 gallery img-thumbnail">
					<a class="example-image-link gallery" href="{% static 'lingyuanyanapp/Images/JFK_park.jpg' %}" data-lightbox="gallery" data-title="" width="100%"><img src="{% static 'lingyuanyanapp/Images/JFK_park.jpg' %}" alt=" " width="100%" height="100%" /></a>
					<!--=================================================-->
				</div>
				<div class="col-xs-12 col-sm-12 col-md-8 col-lg-6 gallery img-thumbnail">
					<a class="example-image-link gallery" href="{% static 'lingyuanyanapp/Images/Lake.jpg' %}" data-lightbox="gallery" data-title="" width="100%"><img src="{% static 'lingyuanyanapp/Images/Lake.jpg' %}" alt="Lake" width="100%" height="100%" /></a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 gallery img-thumbnail">
					<a class="example-image-link gallery" href="{% static 'lingyuanyanapp/Images/Legos.jpg' %}" data-lightbox="gallery" data-title="" width="100%"><img src="{% static 'lingyuanyanapp/Images/Legos.jpg' %}" alt="Legos" width="100%" height="100%" /></a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 gallery img-thumbnail">
					<a class="example-image-link gallery" href="{% static 'lingyuanyanapp/Images/Ping-pong2.jpg' %}" data-lightbox="gallery" data-title="" width="100%"><img src="{% static 'lingyuanyanapp/Images/Ping-pong2.jpg' %}" alt=" " width="100%" height="100%" /></a>
					<!--=================================================-->
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 gallery img-thumbnail">
					<a class="example-image-link gallery" href="{% static 'lingyuanyanapp/Images/Snow!.jpg' %}" data-lightbox="gallery" data-title="" width="100%"><img src="{% static 'lingyuanyanapp/Images/Snow!.jpg' %}" alt=" " width="100%" height="100%" /></a>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 gallery img-thumbnail">
					<a class="example-image-link gallery" href="{% static 'lingyuanyanapp/Images/Snowman.jpg' %}" data-lightbox="gallery" data-title="" width="100%"><img src="{% static 'lingyuanyanapp/Images/Snowman.jpg' %}" alt=" " width="100%" height="100%" /></a>
				</div>
			</div>
		</div>
	</section>
	<h2>Contacts</h2>
	<form class="" action="index.html" method="post">
		<label for="name">Message</label>
		<input type="text" name="name" id="name" placeholder="The Contacts don't work."><br />
		<input type="submit" name="" value="Send">
	</form>
	<details>
		<summary>Code Source</summary>
		<p> Lightbox code taken from http://lokeshdhakar.com/projects/lightbox2/ and Carousel from</p>
	</details>
	<hr>
	<footer>
		By: Lingyuan Yan, for the WD4E Capstone on Coursera
	</footer>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="{% static 'lingyuanyanapp/dist/js/lightbox-plus-jquery.min.js' %}"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

	{% endblock %}
